body{
   
    background-size:1200px 650px;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas{
    border:3px solid rgb(0, 0, 0);
    box-shadow:5px 5px 5px rgb(85, 83, 83);
    border-radius:10px;
}